<h3>edition livre {{editLivre.titre}}</h3>
<form class="form" (ngSubmit)="sauverLivre()">
    <div class="form-group">
        <label for="titre">titre du livre</label>
        <input type="text" name="titre" class="form-control" [(ngModel)]="editLivre.titre" />
    </div>
    <div class="form-group">
        <label for="nbPages">nombre de pages</label>
        <input type="text" name="nbPages" class="form-control" [(ngModel)]="editLivre.nbPages" />
    </div>
    <div class="form-group">
        <label for="isbn">code isbn</label>
        <input type="text" name="isbn" class="form-control" [(ngModel)]="editLivre.isbn" />
    </div>
    <div class="form-group">
        <label for="dateSortie">date de sortie</label>
        <input type="date" name="dateSortie" class="form-control" [(ngModel)]="editLivre.dateSortie" />
    </div>
    <div class="form-group">
        <label for="livreAuteurId">auteur</label>
        <select class="form-control" [(ngModel)]="livreAuteurId" name="livreAuteurId">
            <option *ngFor="let a of auteurs | async" [ngValue]="a.id">
                {{a.prenom}} {{a.nom}}
            </option>
        </select>
    </div>
    <a routerLink="/livres" class="btn btn-warning">annuler</a>
    <button class="btn btn-primary" type="submit">sauver livre</button>

</form>