<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>macromania</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>macromania.util.DatabaseListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>JeuxHomeServlet</display-name>
    <servlet-name>JeuxHomeServlet</servlet-name>
    <servlet-class>macromania.servlets.JeuxHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuxHomeServlet</servlet-name>
    <url-pattern>/JeuxHomeServlet</url-pattern>
    <url-pattern>/</url-pattern>
    <url-pattern>/JeuxHomeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JeuxEditServlet</display-name>
    <servlet-name>JeuxEditServlet</servlet-name>
    <servlet-class>macromania.servlets.JeuxEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuxEditServlet</servlet-name>
    <url-pattern>/JeuxEditServlet</url-pattern>
    <url-pattern>/JeuxEditServlet/*</url-pattern>
  </servlet-mapping>
</web-app>